# 环境配置
.env
.env.local

# 数据目录
backups/

# 忽略 data/db 和 data/uploads 中所有文件，但保留目录本身
data/db/*
!data/db/

data/uploads/*
!data/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 日志
*.log

# 临时文件
tmp/
temp/

# 依赖（如果在本地开发）
server/project_flow.db
server/uploads/
server/*.exe
web/node_modules/
web/dist/
